<section class="post-comments">

  {% if site.comment.gitalk %}
    <div id="gitalk-container"></div>
    <script>
        var gitalk = new Gitalk({
            clientID: '2639f4e065d5fd2200ef',
            clientSecret: '1d64842be5933d5c1a16536ed4350d31a6f3ff60',
            repo: 'comments',
            owner: "{{ site.comment.gitalk }}",
            admin: ['MarkTo22'],
            id: "{{ page.title }}",
            // id: window.location.href,
            distractionFreeMode: false
        })
    
        gitalk.render('gitalk-container')
    </script>
    
  {% elsif site.comment.duoshuo %}
    <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"></div>

    <script type="text/javascript">
        var duoshuoQuery = {short_name:"{{ site.comment.duoshuo }}"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
  {% endif %}
  
  
  
</section>
