html{
	background: #000;
    height: 100%;	
}
* {
	box-sizing: border-box;
}
.mmBox{
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 80px;
	width: 301px;
}
button, input, optgroup, select, textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
.basic-slide {
	display: inline-block;
	width: 215px;
	padding: 10px 0 10px 15px;
	font-family: "Open Sans", sans;
	font-weight: 400;
	color: #377D6A;
	background: #efefef;
	border: 0;
	border-radius: 3px;
	outline: 0;
	text-indent: 70px;
	transition: all .3s ease-in-out;
}
.basic-slide + label {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 15px;
	text-shadow: 0 1px 0 rgb(19 74 70 / 40%);
	background: #7AB893;
	transition: all .3s ease-in-out;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	line-height: 1.15;
}
.basic-slide:focus, .basic-slide:active {
	color: #377D6A;
	text-indent: 0;
	/* background: #fff; */
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.basic-slide:focus + label, .basic-slide:active + label {
	transform: translateX(-100%);
}
.submit{
	display: inline-block;
	padding: 10px 15px;
	text-shadow: 0 1px 0 rgb(19 74 70 / 40%);
	background: #7795c3;
	line-height: 1.15;
	border: none;
	color: #fff;
}
.audioBox{
	position:absolute;
	right: 40px;
	top: 40px;
	width: 100px;
    height: 20px;
	display: none;
}
/*最外层容器样式*/
.wrap{
	position: relative;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	margin: auto;
	display: none;
	/*改变左右上下,图片方块移动*/
	
}
/*包裹所有容器样式*/
.cube{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-80deg);
	-webkit-animation: rotate 20s infinite;
	/*匀速*/
	animation-timing-function: linear;
}
@-webkit-keyframes rotate{
	from{transform: rotateX(0deg) rotateY(0deg);}
	to{transform: rotateX(360deg) rotateY(360deg);}
}
.cube div{
	position: absolute;
	width: 200px;
	height: 200px;
	opacity: 0.95;
	transition: all .4s;
}
/*定义所有图片样式*/
.pic{
	width: 200px;
	height: 200px;
}
.cube .out_front{
	transform: rotateY(0deg) translateZ(100px);
}
.cube .out_back{
	transform: translateZ(-100px) rotateY(180deg);
}
.cube .out_left{
	transform: rotateY(90deg) translateZ(100px);
}
.cube .out_right{
	transform: rotateY(-90deg) translateZ(100px);
}
.cube .out_top{
	transform: rotateX(90deg) translateZ(100px);
}
.cube .out_bottom{
	transform: rotateX(-90deg) translateZ(100px);
}
/*定义小正方体样式*/
.cube span{
	display: bloack;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50px;
	left: 50px;
}
.cube .in_pic{
	width: 100px;
	height: 100px;
}
.cube .in_front{
	transform: rotateY(0deg) translateZ(50px);
}
.cube .in_back{
	transform: translateZ(-50px) rotateY(180deg);
}
.cube .in_left{
	transform: rotateY(90deg) translateZ(50px);
}
.cube .in_right{
	transform: rotateY(-90deg) translateZ(50px);
}
.cube .in_top{
	transform: rotateX(90deg) translateZ(50px);
}
.cube .in_bottom{
	transform: rotateX(-90deg) translateZ(50px);
}
/*鼠标移入后样式*/
.cube:hover .out_front{
	transform: rotateY(0deg) translateZ(200px);
}
.cube:hover .out_back{
	transform: translateZ(-200px) rotateY(180deg);
}
.cube:hover .out_left{
	transform: rotateY(90deg) translateZ(200px);
}
.cube:hover .out_right{
	transform: rotateY(-90deg) translateZ(200px);
}
.cube:hover .out_top{
	transform: rotateX(90deg) translateZ(200px);
}
.cube:hover .out_bottom{
	transform: rotateX(-90deg) translateZ(200px);
}